:root {
   --primery-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --text-white-color: #FFFFFF;
   --footer-copyright-color: rgba(255, 255, 255, 0.4);
   --background-color: #A7D7F1;
   --primery-logo-color:  #212121;
   --secondary-logo-color:  #2196F3;
   --footer-logo-colot: #FFFFFF;
   --button-bg-color: #2196F3;
   --background-button-portfolio: #F5F4FA;
}

body {
   /* background-color: #A7D7F1 для удобства проверки белого текста */
   background-color: var(--background-color);  
   color: var(--primery-text-color);
   font-family: Roboto, sans-serif;
}
 
ul {
   list-style: none;
}
a {
   text-decoration: none;
 }
 .invisible {
   display: none;
}
 /* logo */ 
.logo {
   color: var(--primery-logo-color);
   font-family: Raleway;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}
.logo:hover {
   color: var(--accent-color);
}
.logo-web {
   color: var(--secondary-logo-color);
}

 /* site-nav*/ 
.site-nav .link {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}
.site-nav .link.current {
   color: var(--accent-color);
}

/* auth-nav */
.auth-nav a {
   color: var(--primery-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15px;
   letter-spacing: 0.02em;
} 
.auth-nav .mail:hover, .auth-nav .mail:focus {
   color: var(--accent-color);
}
.auth-nav .tel:hover, .auth-nav .tel:focus {
   color: var(--accent-color);
}

/* hero */
.hero-title {
   color: var(--text-white-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36px;
   text-align: center;
   etter-spacing: 0.06em;
   text-transform: uppercase;
}

/* section */
.section-title {
   color: var(--title-text-color);
   font-weight: 700; 
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}

/* feature */
.feature-list .title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
      letter-spacing: 0.03em;
   text-transform: uppercase;
}
.feature-list .text {
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

/* work */
.work-list .title {
   color: var(--text-white-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

/* team */
.team-list .name {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}
.team-list .text {
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}

/* client */


/* footer */
.footer-list {
   color: var(--text-white-color);
}

/* footer-logo */
.footer-logo {
   color: var(--footer-logo-colot);
   font-family: Raleway;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}
.footer-web {
   color: var(--secondary-logo-color);
}
.footer-logo:hover {
   color: var(--accent-color);
}

/*  footer text-input*/
.text-input{
   color: var(--footer-copyright-color);
}
/* address */
.address {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.7px;
   letter-spacing: 0.03em;
}

/* footer navigation */
.footer-nav a {
   color: var(--footer-copyright-color);
   font-style: normal;
   font-size: 14px;
   line-height: 1.7px;
   letter-spacing: 0.03em;
} 
.footer-nav .footer-mail:hover, .footer-nav .footer-mail:focus {
   color: var(--accent-color);
}
.footer-nav .footer-tel:hover, .footer-nav .footer-tel:focus {
   color: var(--accent-color);
}
.footer-list .get-in,.subscribe {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
/* footer copyright */
.copyright {
   color: var(--footer-copyright-color);
   font-size: 12px;
   line-height: 2;
   text-align: center;
   letter-spacing: 0.03em;
}

   /* button */

.button {
   color: var(--text-white-color);
   background: var(--button-bg-color);
   font-family: inherit;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}
/* PORTFOLIO */

.button.portfolio {
   color: var(--title-text-color);
   background: var(--background-button-portfolio);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
}

.project a {
   color: var(--primery-text-color);
}

.project .title{
   color: var(--title-text-color);
   font-weight: b700;
   font-size: 18px;
   line-height: 2.25x;
   letter-spacing: 0.06em;
}
.project .text{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
}

.project .popup-text {
   color: var(--text-white-color);
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;

}